Package: org.thebigboss.wificallingenabler
Name: Wi-Fi Calling Enabler
Pre-Depends: gsc.telephony, firmware (>= 8.0)
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Wi-Fi Calling for iPhone 4s/5.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
